{% extends "AdminBundle::layout.html.twig" %}

{% block title %}Список блоков стран{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th></th>
        </tr>
        {% for c in countries %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.title }}</td>
                <td class="text-right">
                    <a href="{{ path('country_edit',{ 'id' : c.id }) }}">
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
