<div class="well">
    <h2 class="modal-title">Навигация</h2>

    {% if is_granted("ROLE_ADMIN") %}
        <ul class="nav list-group">
            <li class="">
                <a href="{{ path('page_list') }}">
                    <i class="glyphicon glyphicon-align-justify"></i>
                    Страницы
                </a>
            </li>
            <li class="">
                <a href="{{ path('country_list', {'id': 'x'}) }}">
                    <i class="glyphicon glyphicon-align-justify"></i>
                    Страны
                </a>
            </li>
        </ul>
    {% endif %}
</div>