@font-face {
    font-family: MYRIADPRO; /* Имя шрифта */
    src: url('../fonts/fwd/MYRIADPRO-LIGHT.OTF'); /* Путь к файлу со шрифтом */
    font-weight: normal;
}
@font-face {
    font-family: MYRIADPRO; /* Имя шрифта */
    src: url('../fonts/fwd/MYRIADPRO-BOLD.OTF'); /* Путь к файлу со шрифтом */
    font-weight: bold;
}
*{
    font-family: MYRIADPRO;
}
h2 a, h2 a:hover, h2 a:active, h2 a:focus{
    text-decoration: none;
    color: inherit;
}
.phone, .phone:hover, .phone:active, .phone:focus{
    text-decoration: none;
    color: inherit;
}
.menu{
    position: absolute;
    top: 40px;
    height: 40px;
    background-color:  #0dbb80;
    width: 100%;
    z-index: 900;
}
.menu.row{
    margin: 0;
}
.menu.row div{
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
    line-height: 40px;
    padding: 0 8px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    max-width: 1000px;
    margin: 0 auto;
}
.menu ul li a,.menu ul li a:hover{
    color: #FFF;
    text-decoration: none;
}

.menu ul li:hover{
    background-color: #097c55;
}

.block-1 .slider{
    /*margin-bottom: -50px;*/
}
.slider img{
    width: 100%;
}

@media (min-width: 1200px){
    .container {
        max-width: 1500px;
        width: auto;
    }
    .menu ul li {
        padding: 0 20px;
    }
}
.container{
    padding: 0;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    overflow: hidden;
}
.container{
    background: #FAFAFA;
}
.form-box{
    max-width: 1020px;
    background: #c7ded9;
    padding: 10px 20px;
    margin: 0 auto;
    /*z-index: 500;*/
    box-shadow: 0px 28px 80px -17px #000000;
    min-height: 110px;
    position: relative;
}
.form-box-1{
    margin-top: -50px;
}
.form-box-fixed{
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -510px;
    width: 1020px;
    display: none;
    z-index: 999;
}
.message-fixed{
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -510px;
    width: 1020px;
    display: none;
    font-size: 1.5em;
    text-align: center;
    color: #035941;
    min-height: 50px;
    z-index: 999;
}
.gray{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    display: none;
    z-index: 998;
}

.content{
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
}
.air{
    position: absolute;
    left: -250px;;
    top: -165px;
}
.content .row div{
    padding: 0;
    margin: 0;
}
.content .row{
    padding: 0;
    margin: 0;
}
.content .row div img{
    width: 100%;
}
/*.content .row div img.img:hover{*/
    /*filter: brightness(0.5);*/
    /*-webkit-filter: brightness(0.5);*/
    /*-moz-filter: brightness(0.5);*/
    /*-o-filter: brightness(0.5);*/
/*}*/
.galery-item{
    position: relative;
}
.galery-item a button{
    margin-top: -40px;
    margin-left: 20px;
}
.galery-item:hover a img{
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -o-filter: brightness(0.5);
}
.galery-item:hover a button{
    color: #FFF;
    background: #097c55;
}

.btn-orange{
    color: #FFF;
    background-color: #ffa914;
}
.btn-orange:hover{
    color: #FFF;
    background-color: #b77614;
}
.btn-green{
    color: #FFF;
    background: #808080;
    position: absolute;
}
.btn-green-noactive{
    background: none;
    border-color: #0ec280;
    color: #0ec280;
}

.btn-green-noactive:hover{
    background: #0ec280;
    color: #FFF;
}

.buttons button{
    margin: 10px;
    font-weight: bold;
}
.btn-green-active{
    background: #0ec280;
    color: #FFF;
    border-color: #0ec280;
}

.btn-green-active:hover{
    background: none;
    color: #0ec280;
}

.btn-red{
    background: #c3453e;
    color: #FFF;
}
.btn-red:hover{
    background: #c3453e;
    color: #FFF;
}

.btn-green:hover{
    color: #FFF;
    background: #097c55;
}

.form-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-comment{
    font-size: 0.8em;
    text-align: center;
    padding-top: 10px;
}

.icon-big, .icon4{
    width: 100%;
    max-width: 100px;
    cursor: pointer;
}
.slider-6{
    text-align: center;
}
.slider-6 img{
    width: 90%;
    max-width: 900px;
}
.red{
    color: #c3453e;
    font-size: 1.4em;
}
.green{
    color: #0dbb80;
    font-size: 1.4em;
}
.footer{
    height: 50px;
    background-color:  #0dbb80;
    width: 100%;
    position: relative;
    top: auto;
}
.footer ul li{
    font-weight: normal;
    line-height: 25px;
    border-left: 1px solid #FFF;
    margin-top: 10px;
}
.footer ul li:hover{
    background: inherit;
}
.slider-flag{
    background: url('../images/flag-bg.png');
}
.flag-box{
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
}
.flag-info{
    display: none;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background: #FFF;
}
.slider-flag .flag{
    width: 155px;
    padding: 10px;
    cursor: pointer;
}
.flag-info .col-xs-7, .flag-info .col-xs-5{
    background: #FFFFFF;
    /*height: 200px;*/
    padding: 10px;
}
.flag-info .col-xs-5 img{
    height: 100%;
    max-height: 180px;
}
.th1{
    background: #cecece;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}
.th2{
    background: #e0e0e0;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}
.th3{
    background: #cecece;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}
.th4{
    background: #e0e0e0;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}
.tbl td{
    font-size: 0.8em;
    padding: 8px;
    /*text-align: left;*/
}
.euro{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.img-table{
    width: 1000px !important;
}

.slides{
    margin: 0;
    padding: 0;
    margin-top: -20px;
}
.blueberry .pager{
    margin-top: -38px;
    margin-bottom: 50px;
    z-index: 900;
    position: relative;
}
.pager li>a, .pager li>span{
    border-radius: 0 !important;
}
.blueberry .pager li a {
    padding: 10px 14px 13px 10px !important;
}
#author{
    padding-top: 17px;
    padding-left: 20px;
    color: #FFF;
    font-size: 12px;
}
.blueberry{
    height: 555px !important;
}
ul.slides{
    /*position: absolute !important;*/
}