<div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5 text-center">
            <img src="{{ asset('bundles/app/images/img6-1.png') }}" class="icon-big" style="max-width: 280px">
            <p style="font-size: 1.6em">
                Оформление загранпаспорта –<br />
                сложный и отнимающий много времени процесс
            </p>
        </div>
        <div class="col-xs-5 text-center">
            <img src="{{ asset('bundles/app/images/img6-2.png') }}" class="icon-big" style="max-width: 220px">
            <p style="font-size: 1.6em">
                У каждого человека может<br />
                возникнуть ситуация, когда ему<br />
                необходимо выехать за границу
            </p>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="text-center"  style="font-size: 1.5em">
        <h2>Наши специалисты обладают достаточным  опытом</h2>
        и помогут оформить для Вас загранпаспорт  в необходимые для Вас сроки.
    </div>
    <div class="text-center red">Помогаем оформить загранпаспорта для жителей Москвы и регионов!</div>
    <div class="text-center">
        <button class="btn btn-orange">Заказать услуги</button>
    </div>
</div>
<div>
    <h2>Туристический ваучер оформляется 10 минут</h2>
    <div>и Вы можете получить его по электронной почте.</div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <span style="font-size: 20px;font-weight: 700;font-style: italic;">Гражданам Европы, США, Канады и Австралии</span>
            для получения российской визы достаточно факсовой или электронной копии  ваучера.
            Эту копию и оригинал Вашего паспорта надо предъявить в российское Консульство за рубежом и в
            установленные для этого сроки, обычно 4-5 рабочих дней, оформить въездную российскую визу
            (весь текст и строка по стоимости в одной рамке).
            <br />
            <br />
            <span class="red">Стоимость от <span style="font-size: 20px">900 Р</span></span>
            <button class="btn btn-green-active">Заказать</button>
        </div>
        <div class="col-xs-5">
            <span style="font-size: 20px;font-weight: 700;font-style: italic;">Гражданам Южной Америки, Африки и Азии</span>
            для получения российской визы туристический ваучер необходимо предъявить в оригинале.
            Для этого Вы можете воспользоваться услугами экспресс-почты.
            <br />
            <br />
            <span class="red">Стоимость от <span style="font-size: 20px">900 Р</span></span>
            <button class="btn btn-green-active">Заказать</button>
            <br />
            <br />
            <span class="red">Стоимость от <span style="font-size: 20px">900 Р</span></span>
            <button class="btn btn-green-active">Заказать</button>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <br />
    <br />
    <br />
    <h2>ДЕЛОВОЕ ПРИГЛАШЕНИЕ</h2>
    <div class="col-xs-1"></div>
    <div class="col-xs-5">

    </div>
    <div class="col-xs-1"></div>
</div>